IMPORTS

In [1]:
import pandas as pd
from dfply import *

DATA

In [2]:
covid_week = pd.read_csv("./data/Countries_cases.csv")
country_pop = pd.read_csv("./data/Country_pop.csv")
indicators = pd.read_csv("./data/Indicators_Final.csv")

INSPECTING INDICATORS

In [3]:
indicators>>head

,Series Name,Series Code,Country Name,Country Code,2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020]
0,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,Afghanistan,AFG,8.56190681,7.89716816,8.80596447,9.52887821,10.10534763,10.96199989,11.77723598,9.39572716,..,..
1,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,Albania,ALB,4.79532719,5.05526161,5.38559914,5.50349331,4.89632177,4.91601992,5.01059723,5.26271439,..,..
2,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,Algeria,DZA,5.26748085,6.00050974,6.03576279,6.54721403,6.97849178,6.60778189,6.38032866,6.2184267,..,..
3,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,American Samoa,ASM,..,..,..,..,..,..,..,..,..,..
4,Current health expenditure (% of GDP),SH.XPD.CHEX.GD.ZS,Andorra,AND,6.24652863,6.10150337,5.98780346,5.97912455,6.23245335,6.34349346,6.54431868,6.71033096,..,..

In [4]:
indicators['Series Name'].unique()

array(['Current health expenditure (% of GDP)',
       'Diabetes prevalence (% of population ages 20 to 79)',
       'Hospital beds (per 1,000 people)',
       'Life expectancy at birth, female (years)',
       'Life expectancy at birth, male (years)',
       'Life expectancy at birth, total (years)',
       'Out-of-pocket expenditure (% of current health expenditure)',
       'People using safely managed drinking water services (% of population)',
       'Prevalence of anemia among pregnant women (%)',
       'Prevalence of current tobacco use (% of adults)',
       'Prevalence of overweight (% of adults)',
       'Public spending on education, total (% of GDP)',
       'Risk of catastrophic expenditure for surgical care (% of people at risk)',
       'Suicide mortality rate (per 100,000 population)',
       'Suicide mortality rate, female (per 100,000 female population)',
       'Suicide mortality rate, male (per 100,000 male population)'],
      dtype=object)

Drop unwanted columns <br>
Rename columns to be more useable later

In [5]:
indicators_years=(indicators
 >> drop(X['Series Code'],X['Country Code'],X['2020 [YR2020]'],X['2012 [YR2012]'],X['2013 [YR2013]'],X['2014 [YR2014]'],X['2015 [YR2015]'])
 >> rename(Indicator = 'Series Name', Country = 'Country Name', Y2011 = '2011 [YR2011]', Y2016 ='2016 [YR2016]', Y2017 = '2017 [YR2017]', Y2018 = '2018 [YR2018]', Y2019 = '2019 [YR2019]')
)

INSPECT POPULATIONS

In [6]:
country_pop>>head

     Country Name Country Code        Series Name  Series Code 2019 [YR2019]
0     Afghanistan          AFG  Population, total  SP.POP.TOTL      38041754
1         Albania          ALB  Population, total  SP.POP.TOTL       2854191
2         Algeria          DZA  Population, total  SP.POP.TOTL      43053054
3  American Samoa          ASM  Population, total  SP.POP.TOTL         55312
4         Andorra          AND  Population, total  SP.POP.TOTL         77142

In [7]:
country_pop["Country Name"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'American Samoa', 'Andorra',
       'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Korea, Dem. People’s Rep.', 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands',
       'Mauritania', 'Mauritius', 'Mexico', 'Micronesia, Fed. Sts.',
       'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'North Macedonia', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe', nan,
       'Data from database: World Development Indicators',
       'Last Updated: 02/17/2021'], dtype=object)

Country names are not the same

In [8]:
covid_week["Country"].unique()

array(['United States', 'India', 'Brazil', 'United Kingdom', 'Russia',
       'France', 'Spain', 'Italy', 'Turkey', 'Germany', 'Colombia',
       'Argentina', 'Mexico', 'Poland', 'Iran', 'South Africa', 'Ukraine',
       'Peru', 'Indonesia', 'Czech Republic', 'Netherlands', 'Canada',
       'Portugal', 'Chile', 'Romania', 'Belgium', 'Israel', 'Iraq',
       'Sweden', 'Pakistan', 'Philippines', 'Switzerland', 'Bangladesh',
       'Morocco', 'Austria', 'Serbia', 'Japan', 'Hungary', 'Saudi Arabia',
       'United Arab Emirates', 'Jordan', 'Lebanon', 'Panama', 'Slovakia',
       'Nepal', 'Belarus', 'Malaysia', 'Ecuador', 'Georgia', 'Kazakhstan',
       'Croatia', 'Bolivia', 'Azerbaijan', 'Bulgaria',
       'Dominican Republic', 'Tunisia', 'Ireland', 'Denmark',
       'Costa Rica', 'Lithuania', 'Slovenia', 'Kuwait', 'Egypt', 'Greece',
       'Moldova', 'West Bank and Gaza', 'Armenia', 'Guatemala',
       'Honduras', 'Qatar', 'Ethiopia', 'Nigeria', 'Paraguay', 'Burma',
       'Oman', 'Venezuela', 'Libya', 'Bosnia and Herzegovina', 'Bahrain',
       'Algeria', 'Kenya', 'China', 'Macedonia', 'Albania', 'Kyrgyzstan',
       'South Korea', 'Uzbekistan', 'Latvia', 'Sri Lanka', 'Ghana',
       'Zambia', 'Montenegro', 'Norway', 'Kosovo', 'Singapore',
       'El Salvador', 'Afghanistan', 'Estonia', 'Luxembourg',
       'Mozambique', 'Finland', 'Uruguay', 'Uganda', 'Cuba', 'Namibia',
       'Zimbabwe', 'Cyprus', 'Cameroon', 'Senegal', 'Ivory Coast',
       'Sudan', 'Malawi', 'Australia', 'Botswana', 'Thailand',
       'Congo (Kinshasa)', 'Angola', 'Malta', 'Jamaica', 'Madagascar',
       'Maldives', 'Rwanda', 'Mauritania', 'Eswatini', 'Guinea', 'Syria',
       'Cape Verde', 'Tajikistan', 'Gabon', 'Haiti', 'Belize',
       'Burkina Faso', 'Andorra', 'Lesotho', 'Suriname',
       'Congo (Brazzaville)', 'Bahamas', 'Guyana', 'Mali',
       'Trinidad and Tobago', 'Nicaragua', 'Iceland', 'Djibouti', 'Togo',
       'South Sudan', 'Equatorial Guinea', 'Somalia', 'Benin',
       'Central African Republic', 'Niger', 'The Gambia', 'Sierra Leone',
       'Chad', 'Comoros', 'San Marino', 'Guinea-Bissau', 'Eritrea',
       'Saint Lucia', 'Liechtenstein', 'Mongolia', 'New Zealand',
       'Barbados', 'Vietnam', 'Yemen', 'Seychelles', 'Liberia', 'Burundi',
       'Monaco', 'Sao Tome and Principe',
       'Saint Vincent and the Grenadines', 'Papua New Guinea', 'Taiwan',
       'Bhutan', 'Cruise Ship', 'Diamond Princess', 'Others', 'Mauritius',
       'Tanzania', 'Cambodia', 'Antigua and Barbuda', 'Brunei', 'Grenada',
       'Dominica', 'Hong Kong', 'East Timor', 'Fiji', 'Guadeloupe',
       'Laos', 'Reunion', 'Saint Kitts and Nevis', 'Martinique',
       'Vatican City', 'French Guiana', 'Solomon Islands', 'Macau',
       'MS Zaandam', 'Mayotte', 'Aruba', 'Marshall Islands', 'Samoa',
       'Faroe Islands', 'St. Martin', 'Cayman Islands', 'Channel Islands',
       'Curacao', 'Gibraltar', 'Micronesia', 'North Ireland',
       'Saint Barthelemy', 'Vanuatu', 'Congo', 'Greenland', 'Guam',
       'Guernsey', 'Jersey', 'Palestine', 'Puerto Rico'], dtype=object)

Rid the bottom text <br>
Drop unwanted columns <br>
Rename columns for easier use <br>
Make country names match <br>
Add Eritrea's population because it wasn't included

In [9]:
country_pop_clean=(country_pop[:-5]
 >> drop(X['Country Code'],X['Series Name'],X['Series Code'])
 >> rename(Country = 'Country Name',Population_2019 = '2019 [YR2019]')
 >> mutate(Country = country_pop['Country Name'].str.replace('Russian Federation','Russia').str.replace('Iran, Islamic Rep.', 'Iran').str.replace('Slovak Republic','Slovakia').str.replace('Egypt, Arab Rep.','Egypt').str.replace('Myanmar','Burma').str.replace('Venezuela, RB','Venezuela').str.replace('North Macedonia','Macedonia').str.replace('Kyrgyz Republic','Kyrgyzstan').str.replace('Korea, Rep.','South Korea').str.replace('Cote d\'Ivoire','Ivory Coast').str.replace('Congo, Dem. Rep.',r'Congo (Kinshasa)').str.replace('Syrian Arab Republic','Syria').str.replace('Cabo Verde','Cape Verde').str.replace('Congo, Rep.',r'Congo (Brazzaville)').str.replace('Bahamas, The','Bahamas').str.replace('Gambia, The','The Gambia').str.replace('St. Lucia','Saint Lucia').str.replace('Yemen, Rep.','Yemen').str.replace('St. Vincent and the Grenadines','Saint Vincent and the Grenadines').str.replace('Brunei Darussalam','Brunei').str.replace('Hong Kong SAR, China','Hong Kong').str.replace('Timor-Leste','East Timor').str.replace('Lao PDR','Laos').str.replace('St. Kitts and Nevis','Saint Kitts and Nevis').str.replace('Macao SAR, China','Macau').str.replace(r'St. Martin (French part)','St. Martin').str.replace('Micronesia, Fed. Sts.','Micronesia'))
)
country_pop_clean.loc[country_pop_clean.Country == 'Eritrea', 'Population_2019'] = 3497117

Took off things that weren't countries like curise ships. Also I did not include territories (like all the french ones). And in questionable cases I went with if it was recongnized by the US.

In [10]:
not_countries = ['Faroe Islands','Aruba','West Bank and Gaza','Puerto Rico','Guam','Cruise Ship','Diamond Princess','Others','Guadeloupe','Reunion','Martinique','French Guiana','MS Zaandam','Mayotte','St. Martin','North Ireland','Saint Barthelemy','Congo','Guernsey','Jersey','Palestine','Hong Kong','Aruba','Cayman Islands','Channel Islands','Curacao','Gibraltar']

INVESTIGATING COVID_WEEK

In [11]:
covid_week>>head

,Country,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,...,2/7/2021,2/8/2021,2/9/2021,2/10/2021,2/11/2021,2/12/2021,2/13/2021,2/14/2021,2/15/2021,2/16/2021
0,United States,1,1,2,2,5,5,5,5,5,...,27007368,27097095,27192455,27287159,27392512,27492023,27575344,27640282,27694226,27756624
1,India,0,0,0,0,0,0,0,0,1,...,10838194,10847304,10858371,10871294,10880603,10892746,10904940,10916589,10925710,10937320
2,Brazil,0,0,0,0,0,0,0,0,0,...,9524640,9524640,9599565,9659167,9713909,9765455,9809754,9834513,9866710,9921981
3,United Kingdom,0,0,0,0,0,0,0,0,0,...,3957177,3971315,3983756,3996833,4010376,4025574,4038929,4049920,4059696,4070332
4,Russia,0,0,0,0,0,0,0,0,0,...,3923461,3939162,3953970,3968228,3983031,3997898,4012538,4026506,4040505,4053535

Dropped non-countries <br>
Reshaped data as dates shouldn't be columns <br>
Joined on the population data here <br>
Added Taiwan and Vatican City population here because it was on the covid list but not my population list <br>
Made new column for covid rates per 100,000 people

In [12]:
covid_rates=(covid_week
 >> filter_by(~X.Country.isin(not_countries)) 
 >> gather('Covid_date','Covid_cases',columns_from('1/22/2020'))
 
 >> left_join(country_pop_clean, by='Country')
)
covid_rates.loc[covid_rates.Country == 'Taiwan', 'Population_2019'] = 23773876
covid_rates.loc[covid_rates.Country == 'Vatican City', 'Population_2019'] = 825

covid_rates=(covid_rates
 >> mutate(Covid_rate_per_100000 = X.Covid_cases/X.Population_2019.astype('int64')*100000)
)

Joined the covid data to the indicators data <br>
Reshaped to put the years in cells instead of as columns (and removed the 'Y') <br>
Change '..' to NaN <br>
Change a few data types to better match

In [13]:
full_data=(covid_rates
 >> left_join(indicators_years, by='Country')
 >> gather('Indicator_year', 'Indicator_value', columns_from('Y2011'))
 >> mutate(Indicator_year = X.Indicator_year.str[1:].astype('int64'))
 >> mutate(Indicator_value = X.Indicator_value.replace('..',np.NaN))
 >> mutate(Population_2019 = X.Population_2019.astype('int64'), Indicator_value = X.Indicator_value.astype('float64'), Covid_date = X.Covid_date.astype('datetime64[ns]'))
)

In [14]:
full_data.dtypes

Country                          object
Covid_date               datetime64[ns]
Covid_cases                       int64
Population_2019                   int64
Covid_rate_per_100000           float64
Indicator                        object
Indicator_year                    int64
Indicator_value                 float64
dtype: object

A function to keep only the year I want for each indicator (as the yearly data I am using varies)

In [15]:
keep_year = lambda df, indicator, year: df.drop(df[(df['Indicator'] != indicator)].index).drop(df[(df['Indicator'] == indicator) & (df['Indicator_year'] != year)].index)

And a dictionary for the indicators and year for easy changing

In [16]:
indicator_dict = {r'Current health expenditure (% of GDP)':2018,
     r'Diabetes prevalence (% of population ages 20 to 79)':2019,
     r'Hospital beds (per 1,000 people)':2011,
     r'Life expectancy at birth, female (years)':2018,
     r'Life expectancy at birth, male (years)':2018,
     r'Life expectancy at birth, total (years)':2018,
     r'Out-of-pocket expenditure (% of current health expenditure)':2015,
     r'People using safely managed drinking water services (% of population)':2017,
     r'Prevalence of anemia among pregnant women (%)':2016,
     r'Prevalence of current tobacco use (% of adults)':2018,
     r'Prevalence of overweight (% of adults)':2016,
     r'Public spending on education, total (% of GDP)':2017,
     r'Risk of catastrophic expenditure for surgical care (% of people at risk)':2019,
     r'Suicide mortality rate (per 100,000 population)':2016,
     r'Suicide mortality rate, female (per 100,000 female population)':2016,
     r'Suicide mortality rate, male (per 100,000 male population)':2016}

For each indicator, keep only the year I want and make complete dataset. Please wait, it takes a little bit.

In [17]:
covid_indicators = pd.DataFrame()
for indi, year in indicator_dict.items():
    covid_indicators=covid_indicators.append(keep_year(full_data, indi, year))

Write out to csv

In [18]:
covid_indicators.to_csv('covid_indicators', index=False)